{% extends "base.html" %}

{% load widget_tweaks %}


{% block title %} Avalistas {% endblock title %}


{% block content %}
    <div style="color:#4682B4; font-style: bold; font-size: 1.5rem; border-bottom: 1px solid white;">
        Avalistas
    </div>
    <div class="row" style="color: black; font-style: bold; font-size: 1rem;">
        <div class="col-md-10">Processo Nº {{ numprocesso }} |
            Cliente {{ clienteprocesso }} | Situação: {{ statusprocesso }}
        </div>
        <div class="col-md-2">
            {% if perms.processos.add_avalista %}
                <div style="float:right;"> <a class="btn ghost-blue" href="{% url 'new-processoavalista' idprocesso %}"><i class="fa fa-plus-square fa-fw fa-1x"></i>
                    <small>Avalista</small></a>
                </div>
            {% endif %}
        </div>
    </div>
    <hr>
    <table class="table table-striped">
        <thead class="thead-dark align-middle">
            <tr>
                <th width="5%"><small><b>Id</b></small></th>
                <th width="30%"><small><b>Cliente</b></small></th>
                <th width="45%"><small><b>Avalista</b></small></th>
                <th width="10%"><small><b>Relação</b></small></th>
                <th width="10%"><small><b>Visualiza</b></small></th>
            </tr>
        </thead>

{% if object_list %}

        <tbody>
            {% for avalista in object_list %}
            <tr>
                <td class="align-middle"><small> {{ avalista.id }} </small></td>
                {% if avalista.processo.clientepf_id %}
                    <td class="align-middle"><small>{{ avalista.processo.clientepf.nome }}</small>
                {% else %}
                    <td class="align-middle"><small>{{ avalista.processo.clientepj.razaosocial }}</small>
                {% endif %}
                <td class="align-middle"> <small>{{ avalista.avalista }}</small></td>
                <td class="align-middle"><small>{{ avalista.graurelacao }}</small></td>
                <td class="align-middle">
                    <div class="align-middle">
                        {% if perms.processos.view_avalista %}
                            <a href="{% url 'edit-processoavalista' avalista.id %}" class="btn ghost-button"><i class="fa fa-search fa-fw fa-1x"></i></a>
                        {% endif %}
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>

    <div class="align-middle">
        {% if is_paginated %}

            {% if page_obj.has_previous %}
                <a class="btn btn-outline-info mb-4" href="?page=1"> << </a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}"> < </a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}"> > </a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}"> >> </a>
            {% endif %}

        {% endif %}
    </div>

{% else %}

        <tbody></tbody>   
    </table>

    <br><br><br><br><br><br><br><br>
    <div style="color: #4682B4; font-style: bold; font-size: 1.5rem; text-align: center;">Não foram encontrados registros !!!</div>

{% endif %}


{% endblock content %}