<html xmlns="http://www.w3.org/1999/html">

{% load static %}

<head>
<style>
    @page {
        size: a4 portrait;
        @frame header_frame {           /* Static Frame */
            -pdf-frame-content: header_content;
            left: 50pt; width: 512pt; top: 20pt; height: 110t; font-size: 14pt;
        }
        @frame content_frame {          /* Content Frame */
            left: 50pt; width: 512pt; top: 130pt; height: 630pt;
        }
        @frame footer_frame {           /* Another static Frame */
            -pdf-frame-content: footer_content;
            left: 50pt; width: 512pt; top: 770pt; height: 60pt; font-size: 10pt;
        }
</style>
</head>
<body>
    <div id="header_content">
        <img src="{% static 'media/logoPMCG.png' %}" style="width: 100px; height: 100px;">
        <br>
        {{ linhalogo1}}<br>
        {{ linhalogo2 }}<br>
        {{ linhalogo3 }}<br>
        <hr size="0.5">
    </div>
    <div id="footer_content">
        <small>Impresso em {{ emissao }} por {{ user }} - LGPD: Relatório pode conter dados pessoais e/ou sensíveis. Recomenda-se a destruição após o uso.</small>
        <hr size="0.5">
        <p align="center">
            Página <pdf:pagenumber/>
        </p>
    </div>
    {% for processo in processo %}
    <h1><p align="center">CLIENTE</p></h1>
    <h2>
    <table>
        <tr>
            <td width="50%"><u>Nome</u></td><td width="15%"><u>Processo</u></td><td width="20%"><u>Data Processo</u></td><td width="25%"><u>N° Protocolo</u></td>
        </tr>
        <tr>
            <td>{{ processo.clientepf.nome }}</td><td>{{ processo.numprocesso }}</td>
            <td>{{ processo.dtprocesso|date:"SHORT_DATE_FORMAT" }}</td><td>{{ processo.numprotocolo }}</td>
        </tr>
    </table>
    <hr>
    <p><b>1. DADOS PESSOAIS</b></p>
    <table>
        <tr>
            <td width="50%"><u>Nome</u></td><td width="20%"><u>CPF</u></td><td width="30%"><u>Data Nascimento</u></td>
        </tr>
        <tr>
            <td>{{ processo.clientepf.nome }}</td><td>{{ processo.clientepf.numcpf }}</td><td>{{ processo.clientepf.dtnascimento|date:"SHORT_DATE_FORMAT" }}</td>
        </tr>
    </table>
    <table>
        <tr>
            <td width="40%"><u>RG</u></td><td width="30%"><u>Nacionalidade</u></td><td width="30%"><u>Naturalidade</u></td>
        </tr>
        <tr>
            <td>{{ processo.clientepf.numrg }} - {{ processo.clientepf.orgexpedrg }} / {{ processo.clientepf.ufexpedrg }}</td>
            <td>{{ processo.clientepf.nacionalidade }}</td><td>{{ processo.clientepf.naturalidade }}</td>
        </tr>
    </table>
    <table>
        <tr>
            <td width="50%"><u>Logradouro</u></td><td width="20%"><u>Complemento</u></td><td width="30%"><u>Bairro</u></td>
        </tr>
        <tr>
            <td>{{ processo.clientepf.logradouro }} - {{ processo.clientepf.numimovel|default_if_none:"" }}</td><td>{{ processo.clientepf.complemento }}</td><td>{{ processo.clientepf.bairro|default_if_none:"" }}</td>
        </tr>
    </table>
    <table>
        <tr>
            <td width="50%"><u>Cidade</u></td><td width="20%"><u>CEP</u></td><td width="30%"><u>Tempo reside (anos)</u></td>
        </tr>
        <tr>
            <td>{{ processo.clientepf.cidade }}</td><td>{{ processo.clientepf.cep|default_if_none:"" }}</td>
            <td>{{ processo.clientepf.temporesidencia }} - Própria (S/N) {% if processo.clientepf.is_residpropria %} Sim {% else %} Não {% endif %}</td>
        </tr>
    </table>
    <table>
        <tr>
            <td width="15%"><u>Telefone(s) : </u></td><td> {{ processo.clientepf.telfixo }} | {{ processo.clientepf.telcelular1 }} |  {{ processo.clientepf.telcelular2 }}</td>
        </tr>
    </table>
    <hr>
    <b>2. DADOS COMPLEMENTARES DO CLIENTE</b>
    <table>
        <tr>
            <td width="50%"><u>Profissão</u></td><td width="30%"><u>Escolaridade</u></td><td width="20%"><u>Estado Civil</u></td>
        </tr>
        <tr>
            <td>{{ processo.clientepf.profissao }}</td>
            <td>{%   if processo.clientepf.escolaridade == '01' %} FUNDAMENTAL INCOMPLETO
                {% elif processo.clientepf.escolaridade == '02' %} FUNDAMENTAL COMPLETO
                {% elif processo.clientepf.escolaridade == '03' %} MÉDIO INCOMPLETO
                {% elif processo.clientepf.escolaridade == '04' %} MÉDIO COMPLETO
                {% elif processo.clientepf.escolaridade == '05' %} TÉCNICO NÍVEL MÉDIO
                {% elif processo.clientepf.escolaridade == '06' %} SUPERIOR INCOMPLETO
                {% elif processo.clientepf.escolaridade == '07' %} SUPERIOR COMPLETO
                {% elif processo.clientepf.escolaridade == '08' %} PÓS-GRADUAÇÃO
                {% elif processo.clientepf.escolaridade == '09' %} MESTRADO
                {% else %} DOUTORADO {% endif %}
            </td>
            <td>{{ processo.clientepf.estadocivil }}</td>
        </tr>
    </table>
    <table>
        <tr>
            <td width="40%"><u>Regime de Bens</u></td><td width="30%"><u>N° de Filhos</u></td><td width="30%"><u>N° de Dependentes</u></td>
        </tr>
        <tr>
            <td>{{ processo.clientepf.regimebens }}</td><td align="center">{{ processo.clientepf.numfilhos }}</td><td align="center">{{ processo.clientepf.numdependentes }}</td>
        </tr>
    </table>
    <table>
        <tr>
            <td width="50%"><u>Nome do Pai</u></td><td width="50%"><u>Nome da Mãe</u></td>
        </tr>
        <tr>
            <td>{{ processo.clientepf.nomepai }}</td><td>{{ processo.clientepf.nomemae }}</td>
        </tr>
    </table>
    <hr>
    <p>
        <b>3. CÔNJUGE OU COMPANHEIRO(A)</b>
    </p>
    <table>
        <tr>
            {% if processo.clientepf.conjuge %}
                <td>{{ processo.clientepf.conjuge }}</td><td> - CPF: {{ processo.clientepf.cpfconjuge }}</td>
            {% else %}
                <td>*************************************************</td>
            {% endif %}
        </tr>
    </table>
    <hr>
    <p><b>4. DADOS DO NEGÓCIO</b></p>
    <table>
        <tr>
            <td width="50%"><u>Nome da Empresa</u></td><td width="20%"><u>Início Atividades</u></td><td width="30%"><u>Ramo de Atividade</u></td>
        </tr>
        <tr>
            <td>{{ processo.empresa.razaosocial }}</td><td>{{ processo.empresa.dtiniatividade|date:"SHORT_DATE_FORMAT" }}</td>
            <td>{{ processo.empresa.ramoatividade }}</td>
        </tr>
    </table>
    <table>
        <tr>
            <td width="40%"><u>Setor</u></td><td width="20%"><u>Função</u></td><td width="20%"><u>Inscr.Estadual</u></td>
            <td width="20%"><u>Inscr.Municipal</u></td>
        </tr>
        <tr>
            <td>{{ processo.empresa.setornegocio }}</td><td>{{ processo.empresa.funcao }}</td>
            <td>{{ processo.empresa.numinscest|default_if_none:"" }}</td>
            <td>{{ processo.empresa.numinscmun|default_if_none:"" }}</td>
        </tr>
    </table>
    <table>
        <tr>
            <td width="40%"><u>Logradouro</u></td><td width="20%"><u>Bairro</u></td><td width="10%"><u>CEP</u></td><td width="30%"><u>Cidade</u></td>
        </tr>
        <tr>
            <td>{{ processo.empresa.logradouro }} , {{ processo.empresa.numimovel|default_if_none:"" }} - {{ processo.empresa.complemento|default_if_none:"" }}</td>
            <td>{{ processo.empresa.bairro|default_if_none:"" }}</td><td>{{ processo.empresa.cep|default_if_none:"" }}</td><td>{{ processo.empresa.cidade }}</td>
        </tr>
    </table>
    <hr>
    <p><b>5. FONTES DE RENDA FORMAL DO CLIENTE</b></p>
    <table>
        <tr>
            <td width="50%"><u>Nome da Empresa</u></td><td width="20%"><u>Data Admissão</u></td><td width="30%"><u>Cargo</u></td>
        </tr>
        <tr>
            <td>{{ processo.clientepf.rendaempresa }}</td><td>{{ processo.clientepf.dtadmissempresa|date:"SHORT_DATE_FORMAT" }}</td><td>{{ processo.clientepf.cargoempresa }}</td>
        </tr>
    </table>
    <table>
        <tr>
            <td width="40%"><u>N° Benefício</u></td><td width="20%"><u>Renda Líquida (R$)</u></td><td width="20%"><u>Renda Aluguéis (R$)</u></td><td width="20%"><u>Renda Líquida Total</u></td>
        </tr>
        <tr>
            <td>{{ processo.clientepf.numbeneficio }}</td><td>{{ processo.clientepf.rendaliqempresa }}</td><td>{{ processo.clientepf.rendaalugueis }}</td><td>{{ processo.clientepf.rendaliqtotal }}</td>
        </tr>
    </table>
    <hr>
    <p><b>6. REFERÊNCIAS</b></p>
    {% if processo.banco %}
        <table>
            <tr>
                <td width="40%"><u>Banco</u></td><td width="20%"><u>Agência</u></td><td width="20%"><u>Conta</u></td><td width="20%"><u>Tipo</u></td>
            </tr>
            <tr>
                <td>{{ processo.banco }}</td><td>{{ processo.agencia }}</td><td>{{ processo.conta }}</td><td>{{ processo.texto_tipconta }}</td>
            </tr>
        </table>
    {% endif %}
    <table>
        <tr>
            <td width="40%"><u>Fonte</u></td><td width="20%"><u>Nome/Empresa</u></td><td width="20%"><u>Telefone</u></td><td width="20%"><u>Conceito</u></td>
        </tr>
    </table>
    {% for referencia in referencias %}
        <table>
            <tr>
                <td width="40%">{% if referencia.tipo == 'P' %} PESSOAL
                {% elif referencia.tipo == 'F' %} FORNECEDOR
                {% elif referencia.tipo == 'C' %} CLIENTE
                {% elif referencia.tipo == 'O' %} COMERCIAL
                {% else %} OUTRO {% endif %} </td><td width="20%">{{ referencia.nome }}</td><td width="20%">{{ referencia.telefone }}</td><td width="20%">{{ referencia.conceito }}</td>
            </tr>
        </table>
    {% endfor%}
    <hr>
    <p><b>7. INFORMAÇÕES SOBRE PONTOS DE REFERÊNCIAS (Facilitar o acesso ao local do negócio/residência)</b></p>
        {{ processo.pontoreferencia }}
    <br>
    <hr>
    <p><b>8. AGENTE DE CRÉDITO</b></p>
        {{ processo.criado_por.first_name }} {{ processo.criado_por.last_name }}
    <br>
    <hr>
    <p><b>9. OBSERVAÇÕES</b></p>
        {{ processo.observacao }}
    <br>
    <br>
    <p align="justify"> Declaro(amos) serem verdadeiras as informações prestadas, responsabilizando-me(nos) na forma da lei,
        conforme o Artigo 299 do Código Penal; e autorizo(amos) a consulta de meus(nossos) dados junto ao SISBACEN,
        SPC / SERASA e Referências Pessoais, Comerciais e Bancárias, bem como, realizar ações de cobrança em caso
        de inadimplemento.</p>
    <br>
    <br>
    Local e Data __________________________________________________________________________________
    <br>
    <br>

    <table>
    <tr>
        <td><b>_________________________________________</b></td><td><b>{% if processo.clientepf.conjuge %} _________________________________________ {% endif %}</b></td>
    </tr>
    <tr>
        <td>{{ processo.clientepf.nome }}</td><td>{% if processo.clientepf.conjuge %} {{ processo.clientepf.conjuge }} {% endif %}</td><br>
    </tr>
    </table>
    </h2>
    {%endfor%}
</body>
</html>
