
{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %} Delete Banco {% endblock title %}

{% block content %}

    <div class="container mt-5">
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <div class="text-primary fw-bold mb-3" style="font-size: 1.5rem;">Apaga Banco</div>
                <hr>
                <h5 class="text-dark">Tem certeza que deseja apagar o Banco <strong>"{{ object.nome }}"</strong>?</h5>
            </fieldset>

            <div class="form-group mt-4">
                <button type="submit" class="btn ghost-red me-2">Sim, Apaga</button>
                <a href="{% url 'bancos-list' %}" class="btn ghost-button">Cancela</a>
            </div>
        </form>
    </div>

{% endblock content %}