{{% extends "base.html" %}


{% block title %} {{title}} {% endblock title %}


{% block content %}

    <div style="color:#4682B4; font-style: bold; font-size: 1.5rem; border-bottom: 1px solid white;">
        {{title}}
    </div>
    <div style="color:black; font-style: bold; font-size: 1rem; border-bottom: 1px solid white;">
        Processo N° {{ numprocesso }} | Cliente {{ clienteprocesso }} | Situação: {{ statusprocesso }}
    </div>
    <hr>

    <form method="post">

        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.nome.errors }}
        {{ form.tipofonte.errors }}
        {{ form.telefone.errors }}
        {{ form.conceito.errors }}

        <br>
        <p>
        <b>Dados da Referência</b>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="{{ form.tipofonte.id_for_label }}">Tipo Fonte:</label>
                {{ form.tipofonte }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-8">
                <label for="{{ form.nome.id_for_label }}">Nome/Empresa:</label>
                {{ form.nome }}
            </div>
            <div class="form-group col-md-3">
                <label for="{{ form.telefone.id_for_label }}">Telefone:</label>
                {{ form.telefone }}
            </div>
            <div class="form-group col-md-1">
                <label for="{{ form.conceito.id_for_label }}">Conceito:</label>
                {{ form.conceito }}
            </div>
        </div>
        <br>
        <br>
        <div class="align-middle">
            {% if perms.processos.change_referencia %}
                {% if flagstatus == 'P' or flagstatus == 'A' or flagstatus == 'R' %}
                    <button type="submit" class="btn ghost-green" onclick="msgconfirmacao()"><small>{{ savebtn }}</small></button>
                {% endif %}
            {% endif %}
            {% if title == "Nova Referência" %}
                <button type="reset" class="btn ghost-blue" >Limpa</button>
            {% endif %}
            {% if delbtn %}
                {% if perms.processos.delete_referencia %}
                    {% if flagstatus == 'P' or flagstatus == 'A' or flagstatus == 'R' %}
                        <a href="{% url 'delete-processoreferencia' referencia.pk %}" class="btn ghost-red"><small>Apaga</small></a>
                    {% endif %}
                {% endif %}
            {% endif %}
            <a href="{% url 'processos-list' %}" class="btn ghost-button"><small>Retorna</small></a>
        </div>
        
    </form>
    <br>
    <br>
    {% include "../rodape.html" %}

<script>
    function msgconfirmacao() {
        const numprocesso = "{{ numprocesso }}";
        alert ("Será gravado o parecer referente ao Processo N° " + numprocesso);
    }
</script>

{% endblock content %}