{% extends "base.html" %}


{% block title %} Apagar Negociação do Processo {% endblock title %}


{% block content %}

    <form method="post">

        {% csrf_token %}

        <fieldset class="form-group">
            <div style="color:#4682B4; font-style: bold; font-size: 1.5rem; border-bottom: 1px solid white;">Apaga Negociação</div> <br>
            <h5 style="color:black;">Tem certeza que deseja apagar a Negociação Nº "{{ object.id }} - {{ object.motivo }} " do
                Processo Nº {{ object.processo }}?</h5>
        </fieldset>

        <div class="form-group">
            <button type="submit" class="btn ghost-red">Sim, Apaga</button>
            <a href="{% url 'processoanegociar-list' %}" class="btn ghost-button">Retorna</a>
        </div>
        
    </form>

{% endblock content %}