{% extends "base.html" %}

{% load widget_tweaks %}


{% block title %} Lista de Situações da Pessoa {% endblock title %}


{% block content %}

    <div class="row" style="color: #4682B4; font-style: bold; font-size: 1.5rem;">
        <div class="col-md-8">Situações da Pessoa</div>
        <div class="col-md-4">
            {% if perms.tabelas.add_situacaopessoa %}
            <div style="float:right;"> <a class="btn ghost-blue" href="{% url 'new-situacaopessoa' %}"><i class="fa fa-plus-square fa-fw fa-1x"></i>
                <small>Situação</small></a>
            </div>
            {% endif %}
        </div>
    </div>


    <div style="border-bottom: 1px solid white;"></div>

    <table class="table table-striped">

    <form method="get">
        <nav class="navbar navbar-light bg-light">
            <form class="form-inline">
            {% render_field filter.form.q class="form-control mr-sm-2" type="search" placeholder="Busca pelo descricao" aria-label="Search" %}
            </form>
        </nav>
    </form>

        <br>

        <thead class="thead-dark align-middle">
            <tr>
                <th width="5%"><small>Id</small></th>
                <th width="1%"><small></small></th>
                <th width="69%"><small>Descrição</small></th>
                <th width="15%"><small>Bloqueia Processo</small></th>
                <th width="10"><small>Ações</small></th>
            </tr>
        </thead>

    {% if object_list %}

        <tbody>
            {% for situacao in object_list %}
            <tr>
                <td class="align-middle"><small> {{ situacao.id }}</small> </td>
                <td class="align-middle"><small>{% if situacao.is_deleted %} <i class="fa fa-ban fa-fw fa-1x" style="color:red"></i> {% else %}  {% endif %}</small></td>
                <td class="align-middle"><small> {{ situacao.descricao }}</small> </td>
                <td class="align-middle"><small> {% if situacao.blq_processo == True %} X  {% else %} {% endif %}</small> </td>
                <td class="align-middle">
                    <div class="align-middle">
                        {% if perms.tabelas.view_situacaopessoa %}
                            <a href="{% url 'edit-situacaopessoa' situacao.pk %}" class="btn ghost-button"><i class="fa fa-search fa-fw fa-1x"></i></a>
                        {% endif %}
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>

    <div class="align-middle">
        {% if is_paginated %}

            {% if page_obj.has_previous %}
                <a class="btn btn-outline-info mb-4" href="?page=1"><i class="fa fa-fast-backward fa-1x"></i></a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-backward fa-1x"></i></a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}"><i class="fa fa-forward fa-1x"></i></a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}"><i class="fa fa-fast-forward fa-1x"></i></a>
            {% endif %}

        {% endif %}
    </div>

    {% else %}

        <tbody></tbody>   
    </table>

    <br><br><br><br><br><br><br><br>
    <div style="color: #4682B4; font-style: bold; font-size: 1.5rem; text-align: center;">Não foram encontrados registros !!!</div>

    {% endif %}


{% endblock content %}