<!--        <hr>-->
<!--        <div class="align-middle">-->
<!--            <div class="form-group col-md-1.5">-->
<!--                <button type="submit" class="btn ghost-blue"><small>Lista - PDF</small></button>-->
<!--            </div>-->
<!--            <div class="form-group col-md-1.5">-->
<!--                <button type="submit" class="btn ghost-green" name="exportar_xlsx"><small>Exportar p/Excel</small></button>-->
<!--            </div>-->
<!--            <div class="form-group col-md-1.5">-->
<!--                <a href="{% url 'home' %}" class="btn ghost-button"><small>Retorna</small></a>-->
<!--            </div>-->
<!--        </div>-->

        <hr>
        <div class="align-middle">
            <div class="form-group col-md-1.5">
                <button type="submit" class="btn ghost-blue" id="btn-pdf">Lista - PDF</button>
            </div>
            <div class="form-group col-md-1.5">
                <button type="submit" class="btn ghost-green" id="btn-xlsx" name="exportar_xlsx">
                    Exportar p/Excel</button>
            </div>
            <div class="form-group col-md-1.5">
                <a href="{% url 'relatorios' %}" class="btn ghost-button">Retorna</a>
            </div>
        </div>