{% load static %}

{% load crispy_forms_tags %}

<html lang="pt">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/bootstrap.min.css' %}">

    <!-- Main CSS, then Sidebar CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">    
    <link rel="stylesheet" type="text/css" href="{% static 'css/sidebar.css' %}">    
    
    <title>SIAMICRO - Logout</title>

    {% include "stylelogins.html" %}

</head>

<body>

    <div class="align-middle" style="color: #4682B4; font-style: bold; font-size: 3rem;">SIAMICRO</div>
    <div class="align-middle" style="color: #fff">Sistema Integrado de Administração do Microcrédito</div>
    <br><br><br>

    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
        
            <h2 class="align-middle">Você foi deslogado! Obrigado por utilizar o Sistema</h2>
            <div class="border-top pt-3 align-middle">
                <a href="{% url 'login' %}"><button class="ml-2 ghost-button">Entrar Novamente</button></a> <br><br>
                {# <button class="ml-2 ghost-red">Sair</button> #}
            </div>
    
            <div class="align-middle"> <a href="{% url 'about' %}">Sobre</a> </div>

        </div>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'bootstrap/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'bootstrap/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>

</body>

</html>
