{% extends "base.html" %}

{% load widget_tweaks %}


{% block title %} Processos/Parcelas a Negociar{% endblock title %}


{% block content %}
    
    <div class="row" style="color: #4682B4; font-style: bold; font-size: 1.5rem;">
        <div class="col-md-8">Processos/Parcelas a Negociar</div>
    </div>

    <div style="border-bottom: 1px solid white;"></div>

    <table class="table table-css">

        <form method="get">
            <nav class="navbar navbar-light bg-light">
              <form class="form-inline">
                {% render_field filter.form.q class="form-control mr-sm-2" type="search" placeholder="Busca pelo n° do processo" aria-label="Search" %}
              </form>
            </nav>
        </form>
        <br>

        <thead class="thead-inverse align-middle">
            <tr>
                <th width="5%">Id</th>
                <th width="10%">Dt.Processo</th>
                <th width="10%">Processo</th>
                <th width="20%">Cliente</th>
                <th width="20%">Empresa</th>
                <th width="10%">Qt.Parcelas</th>
                <th width="20%">Valor</th>
                <th width="10%">Ação</th>
            </tr>
        </thead>

    {% if object_list %}

        <tbody>
            {% for r in object_list %}
            <tr>
                <td class="align-middle"> {{ r.processo_id }} </td>
                <td class="align-middle"> {{ r.processo__dtprocesso|date:"SHORT_DATE_FORMAT"}} </td>
                <td class="align-middle"> {{ r.processo__numprocesso }} </td>
                <td class="align-middle"> {% if r.processo__clientepf %}
                    {{ r.processo__clientepf }}
                    {% else %}
                    {{ r.processo__clientepj }}
                    {% endif %}
                </td>
                <td class="align-middle"> {{ r.processo__empresa }} </td>
                <td class="align-middle"> {{ r.qtde }} </td>
                <td class="align-middle"> {{ r.total|floatformat:2 }} </td>
                <td class="align-middle">
                    <div class="align-middle">
                        {% if perms.processos.add_processonegoc %}
                            <a href="{% url 'new-processonegociacao' r.id %}" class="btn ghost-red"><small>Seleciona</small></a>
                        {% endif %}
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>

    <div class="align-middle">
        {% if is_paginated %}

            {% if page_obj.has_previous %}
                <a class="btn btn-outline-info mb-4" href="?page=1"><i class="fa fa-fast-backward fa-1x"></i></a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-backward fa-1x"></i></a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}"><i class="fa fa-forward fa-1x"></i></a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}"><i class="fa fa-fast-forward fa-1x"></i></a>
            {% endif %}

        {% endif %}
    </div>

    {% else %}

        <tbody></tbody>   
    </table>

    <br><br><br><br><br><br><br><br>
    <div style="color: #4682B4; font-style: bold; font-size: 1.5rem; text-align: center;">Não foram encontrados registros !!!</div>

    {% endif %}


{% endblock content %}