{% extends "base.html" %}

{% load widget_tweaks %}


{% block title %} Cancelamento de Títulos {% endblock title %}


{% block content %}
    
    <div class="row" style="color: #4682B4; font-style: bold; font-size: 1.5rem;">
        <div class="col-md-8">Movimentação Financeira - Cancelamento de Títulos</div>
    </div>
    <hr>

    <table class="table table-striped table-bordered align-middle" style="width:100%" id="tabela-listar">

        <thead class="align-middle thead-dark">
            <tr>
                <th width="9%"><small><b>Processo</b></small></th>
                <th width="10%"><small><b>Data</b></small></th>
                <th width="12%"><small><b>Parecer N°</b></small></th>
                <th width="10%"><small><b>Vlr.Parcela</b></small></th>
                <th width="10%"><small><b>Prazo</b></small></th>
                <th width="12%"><small><b>Negociação N°</b></small></th>
                <th width="10%"><small><b>Vlr.Parcela</b></small></th>
                <th width="10%"><small><b>Prazo</b></small></th>
                <th width="12%"><small><b>Ação</b></small></th>
            </tr>
        </thead>
        <tbody>
            {% for titulo in object_list %}
            <tr>
                <td class="align-middle"><small>{{ titulo.0 }}</small></td>
                <td class="align-middle"><small>{{ titulo.1|date:"SHORT_DATE_FORMAT" }}</small></td>
                {% if titulo.2 %}
                    <td class="align-middle"><small>{{ titulo.2 }}</small></td>
                    <td class="align-middle"><small>{{ titulo.3 }}</small></td>
                    <td class="align-middle"><small>{{ titulo.4 }}</small></td>
                    <td class="align-middle"><small>---</small></td>
                    <td class="align-middle"><small>---</small></td>
                    <td class="align-middle"><small>---</small></td>
                {% else %}
                    <td class="align-middle"><small>---</small></td>
                    <td class="align-middle"><small>---</small></td>
                    <td class="align-middle"><small>---</small></td>
                    <td class="align-middle"><small>{{ titulo.5 }}</small></td>
                    <td class="align-middle"><small>{{ titulo.6 }}</small></td>
                    <td class="align-middle"><small>{{ titulo.7 }}</small></td>
                {% endif %}
                <td class="align-middle">
                    <div class="align-middle">
                        {% if perms.processos.delete_financeiro %}
                            {% if titulo.2 %}
                                <a href="{% url 'cancel-processotitulosP' titulo.2 %}" class="btn ghost-red"><i class="fa fa-ban fa-fw fa-1x"></i>
                            {% else %}
                                <a href="{% url 'cancel-processotitulosN' titulo.5 %}" class="btn ghost-red"><i class="fa fa-ban fa-fw fa-1x"></i>
                            {% endif %}
                            <small>Cancela</small></a>
                        {% endif %}
                    </div>
                </td>
            </tr>
            {% empty %}
<!--                <div style="color: #4682B4; font-style: bold; font-size: 1.5rem; text-align: center;">Não foram encontrados registros !!!</div>-->
            {% endfor %}
        </tbody>
    </table>

{% block scripts %}
<script>
    $(document).ready(function(){
        $("#tabela-listar").DataTable({
            responsive: true,
            "pageLength": 10,
            "language": {
                "search": "Procurar:",
                "infoEmpty": "Mostrando de 0 até 0 de 0 registros",
                "infoFiltered": " (filtrado de _MAX_ registros no total)",
                "lengthMenu": "Mostrar _MENU_ registros",
                "paginate": {
                    "first": "<<",
                    "last": ">>",
                    "next": ">",
                    "previous": "<"
                },
                "zeroRecords": "Não foram encontrados registros!!!",
                "info": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
            }
        });
    });
</script>

{% endblock %}

{% endblock content %}