<!doctype html>

{% extends "base.html" %}


{% block title %} Apagar Pessoa Física {% endblock title %}


{% block content %}
                
    <form method="post">
        
        {% csrf_token %}
        
        <fieldset class="form-group">
            <div style="color:#4682B4; font-style: bold; font-size: 1.5rem; border-bottom: 1px solid white;">Apaga Pessoa Física</div> <hr> <br>
            <h4 style="color:black;">Tem certeza que deseja apagar a Pessoa Física "{{ object.nome }}"?</h4>
        </fieldset>

        <div class="form-group">  
            <button type="submit" class="btn ghost-red">Sim, Apaga</button>
            <a href="{% url 'pessoasfisicas-list' %}" class="btn ghost-button">Cancela</a>
        </div>
        
    </form>

{% endblock content %}